
.logo{
    width: 60px;
    height: 60px;
}
.tarjetas{
    width: 95%;
    height: auto;
    display: flex !important; 
    flex-wrap: wrap; 
    margin-left: 30px;   
}

.tarjetas .card{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    background-color: goldenrod;
}

.tarjetas img{
    height: 50%;
}

.collapse, navbar-collapse {
    display: flex;
}
.navbar-brand {
    padding: 2rem;
}
.nav-link, .active, .fw-bold {
    font-weight: bolder;
    font-size: 1.25rem;
}
#login_button {
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 1.5rem;
    padding-right: 2rem;
    font-weight: bolder;
    font-size: 1.25rem;
}

.callbutton {
    position: fixed;
    height: 1rem !important;
    bottom: 160px;
    right: 19px;
    z-index: 998;
}

.fas.fa-phone-alt {
    font-size: 1.8rem;
}

.llamada a {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;

    background: #0380c9; 
}

.llamada a:hover {
    background-color: rgb(27, 50, 92);
}


#WAButton {
    border-radius: 50% !important;
    margin-right: 0.2rem;
    bottom: 190px;
    z-index: 999 !important;
    
}
.llamada a {
    background: #0380c9;
}

.llamada a:hover {
    background-color: rgb(27, 50, 92) !important;

}


